*{
  padding: 0%;
  margin: 0%;
}

:root {
  --cor1: #000;
  --cor2: #fcf4ec;

  --ton1: #999;
  --ton2: #727272;
  --ton3: #3a3a3a;

  --texto: "Goldman", sans-serif;
  --dynamicPadding: 0px;
  --vh: 0px
}

html, body{
  height: 95%;
}

body{
  padding: 4.5vh 4vh;
  background-color: var(--cor1);
}

header{
  clip-path: polygon(
      5% 100%, 95% 100%,
      100% 0%, 0% 0%
  );

  position: absolute;
  left: 20%;
  top: 3vh;
  width: 60%;
  height: 6vh;
  z-index: 9;
  background-color: var(--cor1);
}

.main_conteiner{
  width: 100%;
  height: 89svh;
  background-color: var(--cor2);
  border-radius: 3vh;
  align-items: center;
  flex-direction: column;

  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
}

.main_conteiner section{
  scroll-snap-stop: always;
  scroll-snap-align: start;
  scroll-behavior: smooth;
}

.snap_target{
  position: absolute;
  align-self: center;
  width: 50px;
  height: 50px;
}

.snap_target:nth-child(2){
  bottom: 50vh;
}

.mensagem{
  position: absolute;
  top: 0%;
  z-index: 10;
  display: none;
  width: 100%;
  height: 100%;
  background: black;
  place-content: center;
}

.mensagem img{
  width: 50%;
  filter: invert();
}

@media screen and (max-width: 425px) {
  .mensagem{
    display: flex;
    justify-items: center;
  }
}
